$backGroundColorMain:#21232e;
$headerBackground: url(../img/m-h-night.jpg);
$buttonBackground: #e3ac00;
$colorHeader: white;
$sectionTextColor: white;
$sectionBannerGradient: linear-gradient(to right, #da9e09, #932d52);
$backGroungColorCardAndFooter: #3b3f50;
$backGroundColorWord: #ff4e33;