$backGroundColorMain:white;
$headerBackground: url(../img/m-h-day.jpg);
$buttonBackground: #699900;
$colorHeader: black;
$sectionTextColor: black;
$sectionBannerGradient: linear-gradient(to right, #639219, #2d5bd8);
$backGroungColorCardAndFooter: #21232e;
$backGroundColorWord: #14a0c7;
